doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(
			name="viewport"
			content="width=device-width, initial-scale=1")
		title Тестовое задание
		link(
			rel="stylesheet"
			href="bower/normalize-css/normalize.css")
		link(
			rel="stylesheet"
			href="css/main.css")
	body
		header
			.container
				a(href="index.html").header__logo Seen On Screen
				a(href="#").header__find Find and watch trailers online!
		main
			.container
				h1 The must have Chrome New Tab for Movie Fans!
				.btn
					a(href="#").button Get It Now
					.ribbon-one
					.ribbon-two
						p Free
				p.desc
					| By clicking the above Get It Now button and adding Seen On Screen New Tab page, I accept and agree to abide by the 
					a(href="#") End User License Agreement 
					| and 
					a(href="#") Privacy Policy
					| . Seen On Screen new tab is a product of APN, LCC.
				article.features
					section.features__item
						.features__img
						h2.features__title One Click access to top streaming sites
					section.features__item
						.features__img
						h2.features__title Watch the hottest trailers
					section.features__item
						.features__img
						h2.features__title Get the latest show reviews &amp interviews
		footer
			.container
				ul.bar
					.bar__wrapper
						li.bar__item
							a.bar__link(href="#") 
						li.bar__item
							a.bar__link(href="#") Featured Trailer
						li.bar__item
							a.bar__link(href="#") Movie Genres
					.bar__wrapper
						li.bar__item
							a.bar__link(href="#") Opening This Week
						li.bar__item
							a.bar__link(href="#") News
						li.bar__item
							a.bar__link(href="#") Awards
						li.bar__item
							a.bar__link(href="#") Reviews
				p
					strong Seen On Screen 
					| provides these features and web search on your 
					strong Chrome New Tab
				ul.footer__links
					li.footer__links-item
						a(href="#").footer__link Terms of Service
					li.footer__links-item
						a(href="#").footer__link Privacy Policy
					li.footer__links-item
						a(href="#").footer__link Contact Us